<div class="col-8 mx-auto">

  <h2><%= @post.title %></h2>
  <div><%= sanitize convert_markdown! @post.content %></div>
  <% if user_signed_in? %>
    <%= link_to "Edit", edit_post_path(@post) %>
  <% end %>
</div>
